[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
transformers = "*"
pandas = "*"
torch = "*"
wandb = "*"
adapters = "*"
scikit-learn = "*"
accelerate = "*"
adapter-transformers = "*"
jsonschema = "*"
jq = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.9"
